#myInput {
    width: 50%;
    height: 50px;
    padding: 12px 20px;
    margin: 20px 20px 10px 60px;
    box-sizing: border-box;
    border: 2px solid rgb(206, 196, 196);
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 16px;
    resize: none;

  }

#myInput:hover{
  border: 2px solid #f7ddd4;
  box-shadow: 3px 3px 12px 3px #cfcfd6;
}


#tweet-textbox{
  resize: none;
  width: 80%;
  height: 50px;
  padding: 22px 20px;
  margin: 20px 20px 10px 190px;
  box-sizing: border-box;
  border: 2px solid rgb(206, 196, 196);
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 16px;
  
}

img{
  margin: 0px 20px 10px 60px;
}

button{
  margin: 0px 0px 0px 0px;
  flex:1;
  
}

.btn-primary {
  color: white;
  background-color: #f87a47;
  border-color: #ff4800;
  border-radius: 3px;
  
}

.btn-primary:hover {
  color: #f87a47;
  background-color: WHITE;
  border-color: #303636
}

.btn-primary:active
{
    background-color:grey !important; /* add here any color */
}

.btn-primary:focus{
  background-color: #EB984E;
  border-color: #EB984E;
  box-shadow: 3px 2px 6px 1px rgb(233, 171, 100);
}

.btn-primary:disabled {
  color: #fff;
  background-color: #EB984E;
  border-color: #EB984E;
 
}


.btn-primary:visited{

  box-shadow: 3px 2px 22px 1px rgb(255, 209, 4);
}



/* #preview{
  display: flex;
} */

/* #preview-image{
  flex:1;
  display:block;
} */




/* .textzone::-webkit-scrollbar {
  display: none;
} */
#myInput {
  width: 750px;
  display: inline-block;
}

#tweet-textbox {
  width: 800px;
  display: inline-block;
}

#logo {
  margin-top: 10px;
  margin-right:10px;
}


.myInput{
  display:grid;
}

.container{
  display: grid;
  /* grid-template-columns: 0fr 0fr ; */
  grid-auto-flow: column;
  grid-auto-rows: 150px;
  margin-left: 0px;
}

#bts{
  display: grid;
  margin-left: 75px;
  margin-top: 150px;
  margin-bottom: 125px;
  /* grid-template-columns: 0fr; */
   
}

.tweet-text{
  margin-left:100px;
  display:block;
  flex:1;
}


#reset-btn{
  margin-top:5px;
  margin-left:1px;
}

#publish-btn{
  margin-top:5px;
  margin-left:745px;
}

#child-canvas{
  margin-left:100px;
  display:inline-flex;
}

.child-preview{
/* display: block; */
float:left; 
}





#twitter-share-button {
  display:inline-block;
  color: #fff;
  background-color: #f87a47;
  border-color: #ff4800;
  padding: 9px 18px;
  border-radius: 5px;
  margin-top: 25px;
  margin-right: 0px ;
  margin-left: 0px ;
  text-decoration: none;
}

#twitter-share-button:hover {
  color: #f87a47;
  background-color: WHITE;
  border-color: #303636
}


#yt-video {
  margin-top: 50px;
}

#canvas-show-btn{
 
  /* margin-top: 25px; */
  display: inline-flex;
}

#search-btn{
  margin-top:25px;
  float:right;
}

#input-area{
  display: table;
  clear: both;
}

#canvas-hide-btn{
 margin-left:1375px;
  border-radius: 40px;

}

#preview-btn{
margin-bottom:10px;
  display:inline-flex;
  border-radius: 10px;
}

#done-btn {
  display: grid;
  
  border-radius: 10px;
}

#done-edit{
  margin-top:325px;
  margin-left:50px;

}

#edit-btn{
  display: grid;
  /* margin-left:10px; */
  border-radius: 10px;
}